@model dynamic

@{
    ViewBag.Title = "Import data";
}

<h2><span>Import data</span></h2>


@using (Html.BeginForm("Upload", "Import",
    FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <input name="uploadFile" type="file" />
    <input type="submit" value="Upload File" />
}